body {
    font-size: 15px;
    font-family: sans-serif;
    background: white;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 10px;
}

.barrabanner {
    width: 35%;
    background-color: rgb(226, 199, 93);
}

header {
    padding: 0;
    height: 230px;
    background: url("banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

h1 {
    font-size: 4em;
    margin-bottom: 0%;
    text-shadow: rgb(215, 171, 82) 1px 2px 5px;
}

.HOME {
    width: 130px;
}

nav {
    margin: 27px auto 0;
    position: relative;
    width: 650px;
    height: 50;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

nav a:hover {
    font-size: 17px;
    transition: 100ms;
}

nav.animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 130px;
}

a:nth-child(2) {
    width: 130px;
}

a:nth-child(3) {
    width: 130px;
}

a:nth-child(4) {
    width: 130px;
}

a:nth-child(5) {
    width: 130px;
}

nav .start-introduccion,
a:nth-child(1):hover {
    border-radius: 8px;
    background-color: #1abc9c;
}

nav .start-nosotros,
a:nth-child(2):hover {
    border-radius: 8px;
    background-color: #e74c3c;
}

nav .start-agavetrap,
a:nth-child(3):hover {
    border-radius: 8px;
    background-color: #3498db;
}

nav .start-layout,
a:nth-child(4):hover {
    border-radius: 8px;
    background-color: #1abc9c;
}

nav .start-normas,
a:nth-child(5):hover {
    border-radius: 8px;
    background-color: #e74c3c;
}


footer {
    background: linear-gradient(rgb(255, 255, 255), rgb(171, 206, 161));
    padding: 10px;
    font-size: 18px;
}

hr {
    height: 2px;
    background-color: black;
}

.hr2 {
    outline: auto;
    margin: 0;
}

.hr3 {
    margin: 0;
    height: 3px;
}

.hrComentario {
    width: 500px;
    outline: auto;
}

p {
    padding-left: 5%;
    padding-right: 5%;
}

.botonOculto {
    cursor: pointer;
}

.boton {
    cursor: pointer;
    background: rgb(171, 206, 161);
    border-radius: 5px;
    border-color: rgb(214, 170, 82);
    height: 30px;
    width: 180px;
}

.boton:hover {
    background: rgb(214, 170, 82);
    font-size: larger;
    transition: 50ms;
    border-color: rgb(171, 206, 161);
}

h5 {
    font-size: 20px;
    text-align: center;
}

.centrar {
    text-align: center;
}

.centrar2 {
    text-align: center;
    border: 2px solid rgb(130, 165, 124);
    border-radius: 7px;
    margin-left: 10%;
    margin-right: 10%;
    height: 20px;
    padding-top: 6px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border: 1;
    width: 82%;
}

th {
    border: 2px solid rgb(120, 166, 120);
    border-radius: 8px;
}

th:first-child {
    width: 35px;
}

th:nth-child(2) {
    width: 350px;
}

th:nth-child(3) {
    width: 125px
}


td {
    border: 1px solid rgb(223, 198, 93);
    border-radius: 7px;
    height: 1.4em;
    padding-left: 10px;
}

.contImg {
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    width: 130px;
}

.btn-flotante {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 50px;
    letter-spacing: 3px;
    background-color: #34495e;
    padding: 18px 18px;
    padding-left: 33px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.btn-flotante:hover {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
    letter-spacing: 4px;
}

.persona {
    width: 200px;
    border-radius: 7px;
}

.persona2 {
    width: 200px;
    border-radius: 50%;
}

.InputBox {
    width: 30%;
    height: 2em;
    margin: 1%;
    background-color: rgb(171, 206, 161);
    border-radius: 10px;
    transition: 200ms;
    border: 2px solid black;
}

.InputBox:hover {
    height: 2.3em;
    width: 33%;
    border: 2px solid rgb(119, 37, 28);
}

.InputBackground {
    padding-right: 20%;
    margin: auto;
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgba(224, 198, 94, 50%));
}

h6 {
    font-size: larger;
    padding: 2% 5% 0% 5%;
}

li {
    margin-left: 60px;
}
.green {
    background: linear-gradient(to top, rgb(255, 255, 255), rgb(255, 255, 255), rgba(223, 198, 93, 50%), rgb(171, 206, 161));
}
.fotosprincipales {
    display: flex;
    height: 20rem;
    gap: 1rem;
    margin-right: 2%;
    margin-left: 2%;
}

.fotosprincipales>div {
    flex: 1;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}

.fotosprincipales>div:hover {
    flex: 2;
}
.galeriaV {
    width: 200px;
    border-radius: 5px;
}
.galeriaH {
    width: 350px;
    border-radius: 5px;
}
.allpics {
    text-align: center;
}
.pic {
    display: inline-block;
    margin: 2%;
}
/*
::-webkit-scrollbar {
    display: none;
}
*/